﻿@model DqdLesson09.Models.DqdKhoa

@{
    ViewBag.Title = "Dang Quang Dung - Details";
}

<h2>Details</h2>

<div>
    <h4>DqdKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DqdTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DqdTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DqdTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DqdTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Dang Quang Dung - Edit", "DqdEdit", new { id = Model.DqdMaKH }) |
    @Html.ActionLink("Back to List", "DqdIndex")
</p>